<launch>
    <node name="teleop_twist_keyoboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"></node>
    <node name="move_base" pkg="teleop_twist_keyboard" type="move_base.py" output="screen"></node>
    <node name="tick_publisher" pkg="teleop_twist_keyboard" type="tickpublisher.py" output="screen"></node>
    <node name="odom" pkg="teleop_twist_keyboard" type="sub_to_ticks.py" output="screen"></node>
</launch>